* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  font-size: 60px;
}

.animation {
  height: 100vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  position: relative;
  overflow: hidden;
}

.estrela {
  top: 50%;
  left:0%;
  width: 180px;
  position: absolute;
}

.estrela2 {
  top: 50%;
  right: 0%;
  width: 180px;
  position: absolute;
}